@font-face {
    font-family: 'personalFont';
    src: local('personalFont'), url('../fonts/ufonts.com_tw-cen-mt.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'personalFont';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

/* HEADER */

header {
    position: relative;
}

header::before {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bloccoheader {
    margin-top: -50px;
    position: sticky;
    top: 0px;
    background-color: white;
    opacity: 0.8;
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#icon {
    display: none;
}

label i {
    position: relative;
    float: right;
    top: -20px;
}

#menu {
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

input[type="checkbox"]:checked + #menu {
    height: 250px;
}

#menu li {
    list-style-type: none;
    margin-top: 15px;
}

#menu a:link,
#menu a:hover,
#menu a:visited {
    text-decoration: none;
    color: black;
}

.fas {
    color: #FF5333;
}

/* MAIN */

/* slider */

#scorrifoto {
    margin: 50px 0px;
    padding: 0 15px;
}

h3 {
    font-size: 20px;
}

span {
    color: #FF5333;
    font-size: 24px;
}

#picture {
    margin-top: 20px;
    padding: 0 0 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

/* about us */

#aboutus {
    text-align: center;
    background-color: #F6F6F6;
    padding: 50px 15px; 
}

#aboutus div {
    padding: 25px 0;
}

#aboutus hr {
    margin-right: 200px;
    margin-left: 200px;
    color: lightgray;
}

#aboutUs p{
    color: #959595;
    font-size: 16px;
    line-height: 26px;
}
#blog
{
    background-image: url(../images/blog/blog-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#blog h1 {
    color: white;
    padding-top: 80px;
    padding-bottom: 0px;
}
.spacetwo {
   margin-bottom: 40px;
}
#containerblog {
    background-color: white;
    width: 95%;
    margin: auto;
}
.post {
    width: 100%;
}
.post img {
 width: 100%;
}
#blog hr{
    width: 35%;
   margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color:  white;
}
    

#containerblog hr {
    margin-top: 20px;
    margin-bottom: 20px;
   border-color: lightgray;
   
}
#normal
{min-width: 100%;}
.space{
    padding-top: 20px;
    padding-bottom: 35px;
}